.story-wrapper {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.story-wrapper::-webkit-scrollbar {
    display: none;
}

.story-title {
    color: #86ad87;
}

.story-info {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}